* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form div {
  display: flex;
  width: 220px;
  flex-direction: column;
  margin-bottom: 25px;
}

input:focus,
select:focus {
  outline: none;
}

input:valid {
  border-style: none;
  border: 2px solid green;
}

span {
  color: red;
  position: relative;
  align-self: flex-end;
  text-align: end;
  font-size: 0.9rem;
}

button {
  margin-top: 20px;
}
